<nav class="w3-sidebar w3-bar-block w3-red-d4 w3-hide-small w3-small w3-center" style="width: 90px;">
	<!--<div class="w3-padding w3-opacity w3-red-l2" style="font-weight: bolder;">
		<div class="w3-large">Phoenix</div>
		<div class="w3-small">CAR RENTALS</div>
    <div class="w3-xxxlarge"><i class="fab fa-phoenix-framework"></i></div>
	</div>-->
  <div style="padding: 16px 0px 50px 0px">
    <img src="https://vectr.com/souvik7cd/gayvYuUiNE.svg?width=229.75&height=262.46&select=group_bjWWuvT0h&source=selection" class="w3-image" style="width: 55px">
  </div>
	<div *ngFor="let link of navLinks; let i = index">
		<button (click)="sendElementIndex(i)"
            class="w3-bar-item w3-button w3-hover-white"
            style="padding: 12px 0px;">
            <span class="w3-xxlarge"><i [class]="link.icon"></i></span><br>
            <span class="w3-small w3-upper">{{link.name}}</span>
    </button>
	</div>
</nav>
<nav class="w3-bar w3-bottom w3-hide-large w3-hide-medium w3-red-d4" style=" box-shadow: black 0 -2px 10px;">
	<div class="w3-center" *ngFor="let link of navLinks; let i = index">
		<button (click)="sendElementIndex(i)"
            class="w3-bar-item w3-button w3-hover-red-d5 w3-hover-text-gray w3-small" 
            style="width: 25%; padding: 8px 4px 6px 4px">
            <span class="w3-large"><i [class]="link.icon"></i></span><br>
            <span class="w3-tiny w3-upper">{{link.name}}</span>
    </button>
	</div>
</nav>