<nav class="w3-sidebar w3-bar-block w3-red-d4 w3-hide-small w3-hide-medium w3-small w3-center" style="width: 70px;">
	<div style="padding: 16px 0px 40px 0px">
		<img src="https://vectr.com/souvik7cd/gayvYuUiNE.svg?width=229.75&height=262.46&select=group_bjWWuvT0h&source=selection" class="w3-image" style="width: 50px">
  </div>
		<div *ngFor="let link of navLinks; let i = index">
			<button (click)="sendElementIndex(i)"
            class="w3-bar-item w3-button w3-hover-white"
            style="padding: 12px 0px;">
            <span class="w3-xlarge"><i [class]="link.icon"></i></span><br>
            <span>{{link.name}}</span>
      </button>
		</div>
</nav>

<nav class="w3-sidebar w3-bar-block w3-red-d4 w3-hide-small w3-hide-large w3-small w3-center" style="width: 60px;">
	<div style="padding: 16px 0px 30px 0px">
		<img src="https://vectr.com/souvik7cd/gayvYuUiNE.svg?width=229.75&height=262.46&select=group_bjWWuvT0h&source=selection" class="w3-image" style="width: 35px">
  </div>
		<div *ngFor="let link of navLinks; let i = index">
			<button (click)="sendElementIndex(i)"
            class="w3-bar-item w3-button w3-hover-white"
            style="padding: 8px 0px;">
            <span class="w3-xlarge"><i [class]="link.icon"></i></span><br>
            <span class="w3-tiny">{{link.name}}</span>
      </button>
		</div>
</nav>

<nav class="w3-bar w3-bottom w3-hide-large w3-hide-medium w3-red-d4" style=" box-shadow: black 0 -2px 10px;">
	<div class="w3-center" *ngFor="let link of navLinks; let i = index">
		<button (click)="sendElementIndex(i)"
            class="w3-bar-item w3-button w3-hover-red-d5 w3-hover-text-gray w3-small"
            style="width: 25%; padding: 8px 4px 6px 4px">
            <div class="w3-large"><i [class]="link.icon"></i></div>
            <div class="w3-tiny w3-upper" style="margin-top: -2px">{{link.name}}</div>
    </button>
	</div>
</nav>