<div class="w3-text-red-d3 w3-container">
	<h1>Contact</h1>
	<hr class="w3-red-d3 underline">
</div>
<div class="w3-container">
	<table>
		<tr>
			<td class="w3-padding-small w3-text-red-d4" style="padding: 8px 0px">
				<i class="fas fa-map-marker-alt w3-xxlarge w3-margin-right"></i>
			</td>
			<td class="w3-padding-small" style="padding: 8px 0px">
				Kolkata, West Bengal
			</td>
		</tr>
		<tr>
			<td class="w3-padding-small w3-text-red-d4" style="padding: 8px 0px">
				<i class="fas fa-phone-alt w3-xxlarge w3-margin-right"></i>
			</td>
			<td class="w3-padding-small" style="padding: 8px 0px">
				<a href="tel:+919748194252">9748194252</a> / <a href="tel:+918240111632">8240111632</a>
			</td>
		</tr>
		<tr>
			<td class="w3-padding-small w3-text-red-d4" style="padding: 8px 0px">
				<i class="fa fa-whatsapp w3-xxxlarge w3-margin-right"></i>
			</td>
			<td class="w3-padding-small" style="padding: 8px 0px">
				<a href="tel:+919748194252">9748194252</a>
			</td>
		</tr>
		<tr>
			<td class="w3-padding-small w3-text-red-d4" style="padding: 8px 0px">
				<i class="fas fa-envelope w3-xxlarge w3-margin-right"></i>
			</td>
			<td class="w3-padding-small" style="padding: 8px 0px">
				<a href="mailto:mriduldeb1991@gmail.com">mriduldeb1991@gmail.com</a>
			</td>
		</tr>
	</table>
</div>
<div class="w3-row">
	<div class="w3-container">
		<p>
			Let's get in touch. Send us a whatsapp message.
		</p>
		<p>
			<input type="text" 
        class="w3-input w3-red-l5 w3-focus-red"
        style="border-width: 2px"
        placeholder="Name"
        #nameInput
        required
      >
    </p>
		<p>
			<input type="email" 
        class="w3-input w3-red-l5 w3-focus-red"
        style="border-width: 2px"
        placeholder="Email"
        #emailInput
      >
    </p>
		<p>
			<input type="text"
        class="w3-input w3-red-l5 w3-focus-red"
        style="border-width: 2px"
        placeholder="Subject"
        #subjectInput
        required
      >
    </p>
		<p>
			<textarea 
        class="w3-input w3-red-l5 w3-focus-red"
        style="border-width: 2px" 
        placeholder="Message" rows="4" required 
        #msgInput></textarea>
		</p>
		<button class="w3-button w3-hide-small w3-red-l3 w3-hover-red-l2 w3-padding w3-padding-16 w3-ripple">
      <i class="fa fa-paper-plane"></i>
      SEND MESSAGE
    </button>
		<button type="submit" class="w3-button w3-block w3-hide-large w3-hide-medium w3-red-l3 w3-hover-red-l2 w3-padding w3-padding-16 w3-ripple w3-btn-focus">
      <i class="fa fa-paper-plane"></i>
      &nbsp; SEND MESSAGE
    </button>
	</div>
</div>