.w3-red-l5 {color:#000 !important; background-color:#fef4f3 !important}
.w3-red-l4 {color:#000 !important; background-color:#fdd9d6 !important}
.w3-red-l3 {color:#000 !important; background-color:#fbb3ae !important}
.w3-red-l2 {color:#000 !important; background-color:#f98d85 !important}
.w3-red-l1 {color:#fff !important; background-color:#f6665c !important}
.w3-red-d1 {color:#fff !important; background-color:#f32617 !important}
.w3-red-d2 {color:#fff !important; background-color:#e11a0c !important}
.w3-red-d3 {color:#fff !important; background-color:#c5170a !important}
.w3-red-d4 {color:#fff !important; background-color:#a91409 !important}
.w3-red-d5 {color:#fff !important; background-color:#8d1007 !important}
.w3-red-grad {color:#fff !important; background-color:#c5170a !important;
 background: linear-gradient(#8d1007, #c5170a) !important}
.w3-hover-wht :hover {color:#000 !important; background: linear-gradient(#fff, #fff) !important}
.w3-red-light {color:#000 !important; background-color:#fef4f3 !important}
.w3-red-dark {color:#fff !important; background-color:#8d1007 !important}
.w3-red-action {color:#fff !important; background-color:#8d1007 !important}

.w3-red {color:#fff !important; background-color:#f44336 !important}
.w3-text-red {color:#f44336 !important}
.w3-border-red {border-color:#f44336 !important}

.w3-text-red-l5 {color:#fef4f3 !important}
.w3-text-red-l4 {color:#fdd9d6 !important}
.w3-text-red-l3 {color:#fbb3ae !important}
.w3-text-red-l2 {color:#f98d85 !important}
.w3-text-red-l1 {color:#f6665c !important}
.w3-text-red-d1 {color:#f32617 !important}
.w3-text-red-d2 {color:#e11a0c !important}
.w3-text-red-d3 {color:#c5170a !important}
.w3-text-red-d4 {color:#a91409 !important}
.w3-text-red-d5 {color:#8d1007 !important}

.w3-hover-red:hover {color:#fff !important; background-color:#f44336 !important}
.w3-hover-text-red:hover {color:#f44336 !important}
.w3-hover-border-red:hover {border-color:#f44336 !important}

.w3-border-red-l5 {border-color:#fef4f3 !important}
.w3-border-red-l4 {border-color:#fdd9d6 !important}
.w3-border-red-l3 {border-color:#fbb3ae !important}
.w3-border-red-l2 {border-color:#f98d85 !important}
.w3-border-red-l1 {border-color:#f6665c !important}
.w3-border-red-d1 {border-color:#f32617 !important}
.w3-border-red-d2 {border-color:#e11a0c !important}
.w3-border-red-d3 {border-color:#c5170a !important}
.w3-border-red-d4 {border-color:#a91409 !important}
.w3-border-red-d5 {border-color:#8d1007 !important}

.w3-hover-red-l5:hover {color:#000 !important; background-color:#fef4f3 !important}
.w3-hover-red-l4:hover {color:#000 !important; background-color:#fdd9d6 !important}
.w3-hover-red-l3:hover {color:#000 !important; background-color:#fbb3ae !important}
.w3-hover-red-l2:hover {color:#000 !important; background-color:#f98d85 !important}
.w3-hover-red-l1:hover {color:#fff !important; background-color:#f6665c !important}
.w3-hover-red-d1:hover {color:#fff !important; background-color:#f32617 !important}
.w3-hover-red-d2:hover {color:#fff !important; background-color:#e11a0c !important}
.w3-hover-red-d3:hover {color:#fff !important; background-color:#c5170a !important}
.w3-hover-red-d4:hover {color:#fff !important; background-color:#a91409 !important}
.w3-hover-red-d5:hover {color:#fff !important; background-color:#8d1007 !important}

.w3-hover-border-red-l5:hover {border-color:#fef4f3 !important}
.w3-hover-border-red-l4:hover {border-color:#fdd9d6 !important}
.w3-hover-border-red-l3:hover {border-color:#fbb3ae !important}
.w3-hover-border-red-l2:hover {border-color:#f98d85 !important}
.w3-hover-border-red-l1:hover {border-color:#f6665c !important}
.w3-hover-border-red-d1:hover {border-color:#f32617 !important}
.w3-hover-border-red-d2:hover {border-color:#e11a0c !important}
.w3-hover-border-red-d3:hover {border-color:#c5170a !important}
.w3-hover-border-red-d4:hover {border-color:#a91409 !important}
.w3-hover-border-red-d5:hover {border-color:#8d1007 !important}