<div class="w3-text-red-d3 w3-container">
	<h1>Services</h1>
	<hr class="w3-red-d3 underline">
</div>
<div class="w3-container">
	<p class="w3-text-black">{{ servicesMsg }}</p>
</div>
<div class="w3-container">
	<div class="w3-row-padding w3-section">
		<div class="w3-col l3 m6 w3-padding-small" *ngFor="let service of services">
			<div class="w3-card w3-red-l5 w3-hover-white w3-center" style="padding: 3vw 0; min-height: 150px">
				<img [src]="service.img" [alt]="service.title" width="50px">
				<div class="w3-large w3-text-red-d3 w3-padding" style="margin-top: 6px"><b>{{service.title}}</b></div>
				<!-- <div style="margin-top: 8px">
					<div style="font-size:0.82em;">{{service.desc.line0}}</div>
					<div style="font-size:0.82em;">{{service.desc.line1}}</div>
				</div> -->
			</div>
		</div>
	</div>
</div>
<br><br>