/* Add application styles & imports to this file! */

html,body {font-family: 'Lato', sans-serif; font-size: large}
h1,h2,h3,h4,h5,h6,.w3-large,.w3-xlarge,.w3-xxxlarge {font-family: 'Montserrat', sans-serif;}
.underline { height: 2px; width: 180px; }

@media only screen and (max-width: 2560px) {
    .content {
        margin-left: 30vw;
    }
    .image-width {
      object-fit: cover;
      width: 100vw;
      
    }
}
@media only screen and (max-width: 1440px) {
    .content {
        margin-left: 14vw;
    }
    .image-width {
      object-fit: cover;
      width: 70vw;
      height: 49vw;
    }
}
@media only screen and (max-width: 1366px) {
    .content {
        margin-left: 12vw;
    }
}
@media only screen and (max-width: 1024px) {
    .content {
        margin-left: 9vw;
    }
}
@media only screen and (max-width: 768px) {
    .content {
        margin-left: 12vw;
    }
    .image-width {
        width: 100vw;
        height: 70vw;
    }
}
@media only screen and (max-width: 425px) {
    .content {
        margin-left: 0;
    }
}