<div class="w3-text-red-d4" style="font-weight: bold">
  <div></div>
  <div class="w3-container w3-hide-small w3-xxxlarge w3-padding w3-center">
    {{title}} {{subtitle[0]}}
  </div>
  <div class="w3-container w3-hide-large w3-hide-medium w3-padding w3-center">
    <div>
      <img src="https://vectr.com/souvik7cd/b2CvfJm01e.png?width=229.75&height=262.46&select=a1PumIBi0&source=selection" class="w3-image" style="width: 50px">
    </div>
    <span class="w3-xxlarge">{{title}}</span><br>
    <span class="w3-large">{{subtitle[1]}}</span>
  </div>
</div>
<div class="w3-container w3-hide-small w3-xlarge w3-center">
    {{message}}
</div>
<div class="w3-container w3-hide-large w3-hide-medium w3-center">
    {{message}}
</div>
<div class="w3-container w3-center w3-padding-16">
    <img class="w3-image image-width w3-animate-opacity" [src]="imgSources[index]">
</div>
<div class="w3-container">
    <!--<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
    ut labore et dolore magna aliqua. Purus gravida quis blandit turpis cursus in hac. 
    Sodales neque sodales ut etiam sit amet nisl. Donec enim diam vulputate ut. Non quam 
    lacus suspendisse faucibus interdum.
    </p>-->
    <p>
      If you are looking for a ride in your city go hasslefree with our attractive plans and offers.
      You don't have to worry about carrying your license. We provide you with expert and skilled chauffeurs. Pick your location and give us a call, message or an email to book your ride now.
    </p>
</div>
<br>